.contact-hero {
    margin-left: 10%;
    margin-right: 10%;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.contact {
    width: 100%;
    height: auto;
    display: inline-flex;
}

.contact-form-left {
    float: left;
    width: 60%;
}

.contact-form-right {
    float: left;
    width: 40%;
}

.contact-form-left p {
    margin-bottom: 20px;
    margin: 0px 74px 10px 10px;
}

.contact-form-content {
    margin-left: 10px;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 90%;
    border-radius: 0;
    background: #ffffff;
    height: 40px;
    padding-right: 30px;
    border-color: #acacac;
    color: #666666;
    position: relative;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border: 1px solid #ccc;
}

.form-control-feedback {
    position: absolute;
    width: auto;
    height: 40px;
    line-height: 42px !important;
    top: 0;
}

.has-feedback {
    position: relative;
}

.has-feedback .form-control {
    padding-right: 42.5px;
}

textarea.form-control {
    height: auto;
}
