.header_1 {
    width: auto;
    height: 5%;
    background-color: #f1f1f1;
    margin: 0%;
    clear: both;
}

.language {
    margin-left: 50%;
    display: inline-flex;
}

.ul-header_1 {
    display: inline-flex;
    list-style: none;
    margin-left: 10%;
}

.fa {
   margin: 0px 10px 0px;
}

.ul-header_1 li a {
    color: #999999;
}

.ul-header_1 li:hover {
    background-color: #fafafa;
}

.ul-header_1 li {
    border-right: 1px solid #e3e3e3;
}

select {
    border: 0px solid;
    background-color: #f1f1f1;
}
