body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1.50;
    color: #666666;
}

h1 {
    margin: .67em 0;
    font-size: 38px;
    font-weight: 700;
}

h1, h2, h3 {
    color: #343434;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 10px;
}